###############################################################################################
# JVM Arguments
###############################################################################################
# Some argument may be set via system properties:

# -Dserial.port=/dev/ttyACM1 
#      -> Force a specific serial port. ATClient will auto detect the port if this parameter is not present.

# -Dconfig.file=/home/pi/atclient/atclient.cfg 
#      -> Location of the ATClient configuration file

# -Dlog.file=/home/pi/atclient/atclient.log
#      -> Location of the ATClient log file

# -Dlog4j.configurationFile=/home/pi/atclient/log4j2.xml
#      -> Location of the Log4j2 configuration file

# -DproxySet=true -DproxyHost=my-host -DproxyPort=8080
#      -> Define a proxy server (only required if 'textsms.publish' is used and your client runs behind a proxy)

###############################################################################################
# Serial Port Configuration
###############################################################################################
# default port name of the PLS8-E LTE wireless terminal (HIT U4) - required for auto detection
port.name.windows = Gemalto M2M ALSx PLSx LTE USB serial Port
port.name.linux   = LTE Modem

# USB port parameters
port.baudrate = 9600
port.databits = 8
port.stopbits = 1
port.parity   = 0

# default timeout until AT response received from the terminal
port.communication.timeout = 5000

# send AT test command every x milliseconds of inactivity. Recommended. Default 5min (value 300000).
atclient.atcommand.heartbeat = 300000

###############################################################################################
# Radio Access Technology
###############################################################################################
# Force the mobile terminal to select and register a specific network
# After each completed STK action, an "AT+COPS?" is called to indicate the current radio access technology
# <empty> = Automatic mode, default
#       0 = GSM (2G)
#       2 = UTRAN (3G)
#       7 = E-UTRAN (4G/LTE)
cops.mode = 

###############################################################################################
# Forward Text SMS to MSISDN [optional]
###############################################################################################
# Forward Text SMS to target MSISDN
textsms.forward.enable  = false
textsms.forward.msisdn  = +41791234567
# Only forward a Text SMS if it matches the regex pattern. Default is a pattern that matches with the OTP Code SMS from mobileid.ch
textsms.forward.pattern = ^.*: [A-Z0-9]{4}\\. .*$

###############################################################################################
# Publish Text SMS to URL [optional]
###############################################################################################
# Internet connectivity is required. You may need to set a proxy: -DproxySet=true -DproxyHost=clientproxy.corproot.net -DproxyPort=8079
# Publish Text SMS to URL. GET call using query parameter, e.g. https://www.example.com/script.sh?TXT=Hello&nbsp;World
textsms.publish.enable            = false
textsms.publish.url               = https://www.example.com/script.sh
textsms.publish.queryparam        = TXT
# If basic authentication is required:
textsms.publish.basicauth.enabled = false
textsms.publish.basicauth.user    = user
textsms.publish.basicauth.pwd     = password

###############################################################################################
# AT Communication Watchdog [optional]
###############################################################################################
# If enabled, ATClient will write or update the specified watchdog file if RX data have been received
# Keep in mind that there is a heart beat (see 'atclient.atcommand.heartbeat') to ensure liveness check every x milliseconds
# Refer to https://linux.die.net/man/5/watchdog.conf how to use linux watchdog daemon
watchdog.enable      = false
watchdog.filename    = watchdog.atclient