############################################################################################
# JVM Arguments
############################################################################################
# Some argument may be set via system properties:

# -Dconfig.file=/home/pi/atclient/atclient.cfg 
#      -> location of the ATClient configuration file

# -Dlog.file=/home/pi/atclient/atclient.log
#      -> location of the ATClient log file

# -Dlog4j.configurationFile=/home/pi/atclient/log4j2.xml
#      -> location of the Log4j2 configuration file

# -Dserial.port=/dev/ttyACM1 
#      -> force a specific serial port (optional)

# -DproxySet=true -DproxyHost=my-host -DproxyPort=8080
#      -> proxy server configuration (optional)

############################################################################################
# Serial Port Configuration
############################################################################################
# default port name of the PLS8-E LTE wireless terminal (HIT U4)
# required for auto detection
port.name.windows = Gemalto M2M ALSx PLSx LTE USB serial Port
port.name.linux   = LTE Modem

# USB port parameters
port.baudrate = 9600
port.databits = 8
port.stopbits = 1
port.parity   = 0

# default timeout until AT response received from the terminal
port.communication.timeout = 5000

# send AT test command every x milliseconds of inactivity.
atclient.atcommand.heartbeat = 180000

############################################################################################
# Radio Access Technology
############################################################################################
# Force the mobile terminal to select and register a specific network
# <empty> = Automatic mode, default
#       0 = GSM (2G)
#       2 = UTRAN (3G)
#       7 = E-UTRAN (4G/LTE)
cops.mode = 

############################################################################################
# Forward Text SMS to MSISDN [optional]
############################################################################################
# Forward Text SMS to target MSISDN
textsms.forward.enable  = false
textsms.forward.msisdn  = +41791234567

# Only forward a Text SMS if it matches the regex pattern. 
# Default is a pattern that matches with the OTP Code SMS from mobileid.ch
textsms.forward.pattern = ^.*: [A-Z0-9]{4}\\. .*$

############################################################################################
# Publish Text SMS to URL [optional]
############################################################################################
# Publish Text SMS to URL. GET call using query parameter
# Example URL: https://www.example.com/script.sh?TXT=Hello&nbsp;World
textsms.publish.enable            = false
textsms.publish.url               = https://www.example.com/script.sh
textsms.publish.queryparam        = TXT

# Optional basic authentication
textsms.publish.basicauth.enabled = false
textsms.publish.basicauth.user    = user
textsms.publish.basicauth.pwd     = password

############################################################################################
# AT Communication Watchdog [optional]
############################################################################################
# If enabled, ATClient will write a watchdog file if RX data have been received
# Refer to https://linux.die.net/man/5/watchdog.conf how to use linux watchdog daemon
watchdog.enable = false
watchdog.file   = /home/mid/atclient/watchdog.atclient

############################################################################################
# Maintenance Mode [optional]
############################################################################################
# If enabled, ATClient will look for the keyword 'MAINTENANCE' in the Mobile ID message
# and execute the maintenance shell script as specified below. See example script. 
maintenance.enable      = false
maintenance.script.file = /home/mid/atclient/maintenance.sh