<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="WARN">
	<Properties>
		<Property name="log-path">logs</Property>
		"log4j.properties"
	</Properties>
	<Appenders>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d %t [%level{WARN=WRN, DEBUG=DBG, ERROR=ERR, TRACE=TRC, INFO=INF}] %m%n" />
		</Console>

		<RollingFile name="reporter" fileName="${sys:log.file}"
			filePattern="${sys:log.file}-%d{MM-dd-yyyy}-%i.log">
			<PatternLayout>
				<Pattern>%d %t [%level{WARN=WRN, DEBUG=DBG, ERROR=ERR,
					TRACE=TRC,INFO=INF}] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="4" />
		</RollingFile>

		<Socket name="syslogsocket" host="localhost" port="514"	protocol="UDP">
			<PatternLayout pattern="%t [%level{WARN=WRN, DEBUG=DBG, ERROR=ERR, TRACE=TRC, INFO=INF}] %m%n"/>
		</Socket>
	</Appenders>
	
	<Loggers>
		<Root level="debug" additivity="false">
			<!-- <AppenderRef ref="console"/> -->
			<AppenderRef ref="reporter" />
			<AppenderRef ref="syslogsocket"/>
		</Root>
	</Loggers>
	
</Configuration>